* {
    margin: 0;
    padding: 0;
    border: border-box;
    text-align: center;
}
body {
    background-color: bisque;
}
h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
 height: 150px;
 width: 150px;
 object-fit: cover;
 border-radius: 50%;
 cursor: pointer;
}
.choice:hover {
    background-color: black;
}

.score-Board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 5rem;
    font-size: 2rem;
    font-weight: 700;

}

#user-score,
#comp-score {
 font-size: 4rem;
}

.message-container {
    margin-top: 3rem;
}
#msg {
    background-color: #081b31;
    color: #fff;
    padding: .5rem;
    border-radius: 10px;
    font-size: 2rem;
    display: inline;
}
#btn1 {
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    padding: .3rem;
}
#btn1:hover {
    cursor: pointer;
}